extends layout

block content
  .container-fluid
    h1= title

    body
      .row
        .col-12.col-sm-8
          p= contactText
      .container
        form(name='contact', action='/thanks', method='post')
          .form-group.row
            label.col-form-label.col-sm-2(for='email') Email:
            .col-sm-6
              input#email.form-control(type='email', name='email', required, placeholder='Enter a valid email address')
          .form-group.row
            label.col-form-label.col-sm-2(for='name') Name:
            .col-sm-6
              input#name.form-control(type='text', name='name', required, placeholder='Enter your name')
          .form-group.row
            label.col-form-label.col-sm-2(for='msg') Your Message:
            .col-sm-8
              textarea#msg.form-control(rows='5', name='msg', required,  placeholder='Type your message')
          .form-group.row
            label.col-form-label.col-sm-2
            .col-sm-4
              button.btn.btn-primary(type='submit') Send Message
